[submodule "deploy/lenovolegionlinux-git"]
	path = subprojects/lenovolegionlinux-git
	url = https://aur.archlinux.org/lenovolegionlinux-git.git
[submodule "deploy/lenovolegionlinux-git"]
	path = subprojects/lenovolegionlinux-dkms-git
	url = https://aur.archlinux.org/lenovolegionlinux-dkms-git.git
[submodule "subprojects/darkdetect"]
	path = subprojects/darkdetect
	url = https://github.com/albertosottile/darkdetect.git

