[Unit]
Description=Smart Fan Control Daemon
After=multi-user.target systemd-modules-load.service

[Service]
Type=forking
ExecStart=/usr/local/bin/smartfan start balanced
ExecStop=/usr/local/bin/smartfan stop
PIDFile=/run/smartfan/pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
