version: "3.9"
services:
  legion-arch:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.arch
  legion-manjaro:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.arch
      args:
        - "BASE_IMAGE=manjarolinux/base"
  legion-fedora:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.fedora
  # legion-suse:
  #   build:
  #     context: ..
  #     dockerfile: deploy/Dockerfile.suse
  # legion-ubuntu-22-04:
  #   build:
  #     context: ..
  #     dockerfile: deploy/Dockerfile.ubuntu.22.04
  legion-ubuntu-24-04:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.ubuntu.24.04
  ubuntu:
    image: ubuntu:latest
    volumes:
      - "../:/app/LenovoLegionLinux"