[Desktop Entry]
Version=1.0
Type=Application
Name=Root LenovoLegionLinux
Icon=/usr/share/pixmaps/legion_logo.png
Exec=pkexec legion_gui
TryExec=pkexec /usr/local/bin/legion_gui
Comment=Control Lenovo Legion Laptops
Categories=System
Terminal=false
