[Unit]
Description=Start legiond-ctl fanset on resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/legiond-ctl fanset 3
TimeoutStopSec=infinity

[Install]
WantedBy=sleep.target
