[Unit]
Description=Start legiond-cli fanset on resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/legiond-cli fanset 3
TimeoutStopSec=infinity

[Install]
WantedBy=sleep.target
