[Unit]
Description=Apply Fan Curve to Lenovo Legion Laptop depending of Power State and Charger Mode (LenovoLegionLinux kernel Module)
DefaultDependencies=no
StopWhenUnneeded=yes
After=systemd-logind.service
StartLimitIntervalSec=0

[Service]
Type=exec
User=root
Group=root
ExecStart=/usr/bin/fancurve-set

[Install]
WantedBy=default.target

