[Unit]
Description=legiond daemon
After=acpid.service

[Service]
ExecStart=/usr/bin/legiond
ExecReload=/usr/bin/legiond-ctl reload

[Install]
WantedBy=multi-user.target
