[Unit]
Description=legiond daemon
Requires=acpid.service
After=acpid.service

[Service]
ExecStart=/usr/bin/legiond

[Install]
WantedBy=multi-user.target
